<h1>Routing table</h1>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Routing</h3>
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input name="table_search" class="form-control pull-right" type="text" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Endpoint ID</th>
                    <th>Condition type</th>
                    <th>Condition param.</th>
                    <th>Cache</th>
                    <th>Logger</th>
                    <th></th>
                </tr>
                <tr data-ng-repeat="route in vm.model.configuration.routes">
                    <td>{{route.endpointId}}</td>
                    <td>
                        <span data-ng-show="route.soapActionCondition">Soap Action</span>
                        <span data-ng-show="route.requestPathAndQueryCondition">Request Path RegEx</span>
                        <span data-ng-show="route.alwaysMatchingCondition">Always Matching</span>
                    </td>
                    <td>
                        <div data-ng-show="route.soapActionCondition">
                            <div data-ng-show="route.soapActionCondition.requiredSoapActions">
                                Soap Actions:
                                <div data-ng-repeat="sa in route.soapActionCondition.requiredSoapActions">{{sa}}</div>
                            </div>
                            <div data-ng-show="route.soapActionCondition.requiredSoapActionRegexStrings">
                                Soap Action Patterns:
                                <div data-ng-repeat="sareg in route.soapActionCondition.requiredSoapActionRegexStrings">{{sareg}}</div>
                            </div>
                        </div>
                        <span data-ng-show="route.requestPathAndQueryCondition">{{route.requestPathAndQueryCondition.requestPathRegexString}}</span>
                    </td>
                    <td>
                        <div data-ng-show="route.cache">
                            {{route.cache.isEnabled ? "ON" : "OFF"}} {{route.cache.expirationTimeInMinutes}} mins.
                        </div>
                    </td>
                    <td>
                        <div data-ng-show="route.logger">
                            {{route.logger.isEnabled ? "ON" : "OFF"}}
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-primary" data-ng-click="vm.startRouteEditing(route)">Edit</button>
                        <button class="btn btn-primary btn-warning" ng-really-message="Are you sure?" ng-really-click="vm.deleteRoute(route)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-info pull-left" data-ng-hide="vm.editedRoute" data-ng-click="vm.addNewRouting()">Add new routing</button>
    </div>
</div>
<div class="box box-info" data-ng-show="vm.editedRoute">
    <div class="box-header with-border">
        <h3 class="box-title">Route for endpoint: {{vm.editedRoute.endpointId}}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <div class="row">
                    <span class="col-sm-2 control-label">Endpoint Id</span>
                    <div class="col-sm-10">
                        <input class="form-control" id="endpointId" type="text" data-ng-model="vm.editedRoute.endpointId" required />
                    </div>
                </div>
                <div class="row">
                    <span class="col-sm-2 control-label">Condition type</span>
                    <div class="col-sm-10">
                        <select class="form-control" data-ng-model="vm.selectedConditionType" data-ng-options="sta.code as sta.name for sta in vm.availableConditionTypes" />
                    </div>
                </div>
                <div class="row" data-ng-hide="vm.selectedConditionType=='SoapAction'">
                    <span class="col-sm-2 control-label">Condition parameter</span>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" data-ng-model="vm.selectedConditionParameter" />
                    </div>
                </div>
                <div class="row" data-ng-show="vm.selectedConditionType=='SoapAction'">
                    <span class="col-sm-2 control-label">Soap Actions</span>
                    <div class="col-sm-10">
                        <div data-ng-repeat="sa in vm.selectedConditionSoapActions">
                            <input class="form-control" type="text" data-ng-model="sa.v" />
                            <button class="btn btn-primary btn-warning" ng-really-message="Are you sure?" ng-really-click="vm.deleteFromList(vm.selectedConditionSoapActions, sa)">Remove</button>
                        </div>
                        <button class="btn btn-info pull-left" data-ng-click="vm.addEmptyStringToSelectedConditionSoapActions()">Add new Soap Action</button>
                    </div>
                </div>
                <div class="row" data-ng-show="vm.selectedConditionType=='SoapAction'">
                    <span class="col-sm-2 control-label">Soap Action Patterns</span>
                    <div class="col-sm-10">
                        <div data-ng-repeat="sap in vm.selectedConditionSoapPatterns">
                            <input class="form-control" type="text" data-ng-model="sap.v" />
                            <button class="btn btn-primary btn-warning" ng-really-message="Are you sure?" ng-really-click="vm.deleteFromList(vm.selectedConditionSoapPatterns, sap)">Remove</button>
                        </div>
                        <button class="btn btn-info pull-left" data-ng-click="vm.addEmptyStringToSelectedConditionSoapActionPatterns()">Add new Soap Action Pattern</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div data-ng-show="vm.editedRoute.cache">
                    <div class="row">
                        <span class="col-sm-2 control-label">Cache enabled</span>
                        <div class="col-sm-10">
                            <span><input name="isCacheEnabled" type="radio" data-ng-model="vm.editedRoute.cache.isEnabled" data-ng-value="true" />yes</span>
                            <span><input name="isCacheEnabled" type="radio" data-ng-model="vm.editedRoute.cache.isEnabled" data-ng-value="false" />no</span>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-sm-2 control-label">Expiration time (minutes)</span>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" data-ng-model="vm.editedRoute.cache.expirationTimeInMinutes" required />
                        </div>
                    </div>
                </div>
                <button class="btn btn-info pull-right" data-ng-hide="vm.editedRoute.cache" data-ng-click="vm.addCacheSection()">Add cache section</button>
            </div>
            <div class="form-group">
                <div data-ng-show="vm.editedRoute.logger">
                    <div class="row">
                        <span class="col-sm-2 control-label">Logger enabled</span>
                        <div class="col-sm-10">
                            <div class="radio">
                                <label>
                                    <input name="isLoggerEnabled" type="radio" data-ng-model="vm.editedRoute.logger.isEnabled" data-ng-value="true" />yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input name="isLoggerEnabled" type="radio" data-ng-model="vm.editedRoute.logger.isEnabled" data-ng-value="false" />no
                                </label>
                            </div>                           
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-sm-2 control-label">Log requests</span>
                        <div class="col-sm-10">
                            <input name="isLogRequest" type="radio" data-ng-model="vm.editedRoute.logger.logRequests" data-ng-value="true" />yes
                            <input name="isLogRequest" type="radio" data-ng-model="vm.editedRoute.logger.logRequests" data-ng-value="false" />no
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-sm-2 control-label">Log responses</span>
                        <div class="col-sm-10">
                            <input name="isLogResponses" type="radio" data-ng-model="vm.editedRoute.logger.logResponses" data-ng-value="true" />yes
                            <input name="isLogResponses" type="radio" data-ng-model="vm.editedRoute.logger.logResponses" data-ng-value="false" />no
                        </div>
                    </div>
                 </div>
                <button class="btn btn-info pull-right" data-ng-hide="vm.editedRoute.logger" data-ng-click="vm.addLoggerSection()">Add logger section</button>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button class="btn btn-default" data-ng-click="vm.cancelRouteEditing()">Cancel</button>
            <button class="btn btn-info pull-right" data-ng-click="vm.updateEditedRoute()">Save</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>